@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

body {
    text-align: center;
    min-width: 320px;
    background-color: #282a36;
    font-family: 'Nabla', cursive;
}

.titulo {
    font-family: 'Nabla', cursive;
}

.venceu {
    background-color: #50fa7b;
}

.perdeu {
    background-color: #ff5555;
}

.em-jogo {
    cursor: pointer;
}

canvas {
    border-radius: 5px;
    box-shadow: 5px 5px 2px black;
}